.container{
    
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    /* align-items: center; */
    justify-content: space-evenly;
    position: relative;
    right: 0    ;
    /* align-items: normal; */
    gap: 50px;
    margin: 50px;
    flex-wrap: wrap;
   
}

.barContainer{
    
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}
.selector{
    border-radius: 1em;
    margin: 5px;
    text-align: center;
    width: 30%;
    font-size: 16px;
    font-family: cursive;
    height: 30%;
}